/* GERAL */
* {
  box-sizing: border-box;
  font-size: 10px;
}

body {
  background-color: rgb(235, 110, 249, 0.5);
  font-family: 'Open Sans', sans-serif;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* CONTEÚDO */

main {
  background: #f2f5f0; /* Old browsers */
  box-shadow: 0px 0px 1px black;
  width: 30%;
  margin: 5% auto;
  padding: 20px 0px 5px 0px;
  border-radius: 2%;
}

h1 {
  font-size: 20px;
  text-shadow: 0px 0px 1px rgba(7, 15, 13, 0.726);
  text-align: center; 
  padding: 15px;
}

tr td {
  width: 100%;
}

td {
  border-bottom: .5px solid rgba(161, 160, 160, 0.288);
  padding: 10px;
}

table {
  border-collapse: collapse;
  transition: all 1s;
}

/*BOTÕES*/

.btn__adicionar {
  background-color: #7050bb;
  width: 100%;
  display: block;
  border: none;
  color: white;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 15px;
  cursor: pointer;
}

.btn__adicionar:hover {
  background-color: #7050bbd0;
}

.adicionar__tarefa {
  width: 100%;
  height: 100px;
  padding: 30px;
  font-size: 1.8em;
}

.x {
  font-size: 1em;
  color: red;
  cursor: pointer;
  transform: all 1s;
  position: relative;
  left: 1px;
}

.x:hover{
  transform: scale(1.5)
}

.btn__box {
  margin: 15px 30px 5px 30px;
  display: flex;
  justify-content: space-between; 
}

.btn {
  background-color: #7050bb;
  width: 35%;
  display: inline-block;
  border: none;
  color: white;
  font-size: 1.1em;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 4%;
  border-radius: 5%;
  transition: all .5s;
  cursor: pointer;
}

.btn:hover{
  transform: scale(1.1)
}

.btn__excluirTudo {
  background-color: rgba(241, 75, 75, 0.829)
}

.btn__checkAll {
  background-color: rgba(61, 161, 61, 0.644);
}
.tarefa {
  font-size: 1.5em;
  background: #f2f2f2;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
  width: 100%;
}
.tarefa:hover {
  text-shadow: 0px 0px 1px rgba(128, 128, 128, 0.685);
  opacity: 0.8;
  font-weight: 600;
}
li:nth-child(odd) { 
  background:#e7e7ee; 
}

#arrowTop {    
    color: purple;
    text-shadow: 0px 0px 1px grey;
    position: fixed;
    top: 5%;
    left: 25%;
    cursor: pointer;
    background: 0 0;
    border: 0;
    font-size: 4em;
    cursor: pointer;
    transition: 0.3s;
}

ul {
  padding: 3px 10px;
}

@media (max-width: 1200px) {
    main {
    width: 60%;
    margin: 15% auto;
  }
}

@media (max-width: 760px) {
    main {
    width: 65%;
    margin: 15% auto;
  }
}

@media (max-width: 520px) {
    main {
    width: 85%;
    margin: 15% auto;
  }
}